{% extends 'base.html.twig' %}

{% block title %}Connect{% endblock %}

{% block body %}
    <h1>Connect with OAuth</h1>
    <p>
        <a href="{{ path('connect_google') }}" class="btn btn-primary">Connect with Google</a>
        <a href="{{ path('connect_github') }}" class="btn btn-secondary">Connect with GitHub</a>
    </p>
{% endblock %}
