{# _project_header.html.twig #}

<div class="row mt-10">
    <div class="col-md-4">
        <h1>{{ project.title }}</h1>
        <p>{{ project.description }}</p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        {% include 'project/_project_members.html.twig' %}
    </div>
</div>