    {# project_view.html.twig #}
    {% extends 'base.html.twig' %}
    {% block title %}Project View - {{ project.title }}{% endblock %}
    {% block body %}
        <div id="projectContainer">
            {% include 'project/_project_container.html.twig' %}
        </div>

        <div class="modal fade" id="ideaModal" tabindex="-1" role="dialog" aria-labelledby="ideaModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div id="modalContent"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="commentsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-body">
                    <div id="commentsModalContent"></div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editProjectModal" tabindex="-1" role="dialog" aria-labelledby="editProjectModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body" id="editProjectModalContent">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editIdeaModal" tabindex="-1" role="dialog" aria-labelledby="editIdeaModalContent" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body" id="editIdeaModalContent">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="inviteMemberModal" tabindex="-1" role="dialog" aria-labelledby="inviteMemberModalContent" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body" id="inviteMemberModalContent">
                    </div>
                </div>
            </div>
        </div>

    <script>
        var updateIdeaStatusUrl = "{{ path('update_idea_status') }}";
    </script>

    {% endblock %}
